# Lab 3: Extending Logistic Regression

In [287]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression as SKLLogisticRegression
from sklearn.model_selection import train_test_split, KFold
from scipy.special import expit
from numpy.linalg import pinv
import random
import warnings

warnings.simplefilter('ignore', DeprecationWarning)
pd.set_option('display.max_columns', None)

# Business Understanding

Dataset Link: https://www.kaggle.com/datasets/oles04/bundesliga-seasons

# Cleaning Data

In [2]:
df_init = pd.read_csv("../Datasets/bulidata.csv")

df_init.head()

,Unnamed: 0,MATCH_DATE,LEAGUE_NAME,SEASON,LEAGUE,FINISHED,LOCATION,VIEWER,MATCHDAY,MATCHDAY_NR,HOME_TEAM_ID,HOME_TEAM_NAME,HOME_TEAM,HOME_ICON,AWAY_TEAM_ID,AWAY_TEAM_NAME,AWAY_TEAM,AWAY_ICON,GOALS_HOME,GOALS_AWAY,DRAW,WIN_HOME,WIN_AWAY
0,0,2005-08-05 20:30:00,1. Fussball-Bundesliga 2005/2006,2005,bl1,True,München,NaN,1. Spieltag,1,40,FC Bayern München,Bayern,https://i.imgur.com/jJEsJrj.png,87,Borussia Mönchengladbach,Gladbach,https://i.imgur.com/KSIk0Eu.png,3,0,0.0,1.0,0.0
1,1,2005-08-06 15:30:00,1. Fussball-Bundesliga 2005/2006,2005,bl1,True,Köln,NaN,1. Spieltag,1,65,1. FC Köln,Köln,https://upload.wikimedia.org/wikipedia/en/thum...,81,1. FSV Mainz 05,Mainz,https://upload.wikimedia.org/wikipedia/commons...,1,0,0.0,1.0,0.0
2,2,2005-08-06 15:30:00,1. Fussball-Bundesliga 2005/2006,2005,bl1,True,Duisburg,NaN,1. Spieltag,1,107,MSV Duisburg,Duisburg,https://upload.wikimedia.org/wikipedia/en/c/c8...,16,VfB Stuttgart,Stuttgart,https://i.imgur.com/v0tkpNx.png,1,1,1.0,0.0,0.0
3,3,2005-08-06 15:30:00,1. Fussball-Bundesliga 2005/2006,2005,bl1,True,Hamburg,NaN,1. Spieltag,1,100,Hamburger SV,HSV,https://upload.wikimedia.org/wikipedia/commons...,79,1. FC Nürnberg,Nürnberg,https://upload.wikimedia.org/wikipedia/commons...,3,0,0.0,1.0,0.0
4,4,2005-08-06 15:30:00,1. Fussball-Bundesliga 2005/2006,2005,bl1,True,Wolfsburg,NaN,1. Spieltag,1,131,VfL Wolfsburg,Wolfsburg,https://i.imgur.com/ucqKV4B.png,7,Borussia Dortmund,BVB,https://upload.wikimedia.org/wikipedia/commons...,2,2,1.0,0.0,0.0

In [3]:
df_init = df_init.drop([
    "Unnamed: 0", "MATCH_DATE", "LEAGUE", "LEAGUE_NAME", "FINISHED", "LOCATION", "VIEWER", "MATCHDAY",
    "HOME_TEAM_NAME", "HOME_TEAM", "HOME_ICON", "AWAY_TEAM_NAME", "AWAY_TEAM", "AWAY_ICON"
], axis = 1).rename(columns = {
    "SEASON": "season",
    "MATCHDAY_NR": "matchday",
    "HOME_TEAM_ID": "home_team",
    "AWAY_TEAM_ID": "away_team",
    "GOALS_HOME": "home_goals",
    "GOALS_AWAY": "away_goals",
    "DRAW": "draw",
    "WIN_HOME": "home_win",
    "WIN_AWAY": "home_loss"
})
df_init[["home_team", "away_team"]] = df_init[["home_team", "away_team"]].astype(str)

df_init.head()

,season,matchday,home_team,away_team,home_goals,away_goals,draw,home_win,home_loss
0,2005,1,40,87,3,0,0.0,1.0,0.0
1,2005,1,65,81,1,0,0.0,1.0,0.0
2,2005,1,107,16,1,1,1.0,0.0,0.0
3,2005,1,100,79,3,0,0.0,1.0,0.0
4,2005,1,131,7,2,2,1.0,0.0,0.0

In [43]:
df_home = df_init.copy().rename(columns = {
    "home_team": "team",
    "away_team": "opponent",
    "home_goals": "scored",
    "away_goals": "conceded",
    "home_win": "win",
    "home_loss": "loss"
})
df_away = df_init.copy().rename(columns = {
    "home_team": "opponent",
    "away_team": "team",
    "home_goals": "conceded",
    "away_goals": "scored",
    "home_win": "loss",
    "home_loss": "win"
})
df_home["home"] = "1"
df_away["home"] = "0"
df_all = pd.concat([df_home, df_away])
df_all = df.sort_values(["season", "matchday"])

df_all

,season,matchday,team,opponent,scored,conceded,draw,win,loss,home,scored_5,conceded_5,win_5,draw_5,loss_5,opp_scored_5,opp_conceded_5,opp_win_5,opp_draw_5,opp_loss_5,game_pts,pts,opp_game_pts,opp_pts,pts_diff
0,2005,1,40,87,3,0,0.0,1.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,0.0,0.0,0.0
1,2005,1,65,81,1,0,0.0,1.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,0.0,0.0,0.0
2,2005,1,107,16,1,1,1.0,0.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,0.0
3,2005,1,100,79,3,0,0.0,1.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,0.0,0.0,0.0
4,2005,1,131,7,2,2,1.0,0.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5503,2022,34,40,65,2,1,0.0,1.0,0.0,0,13.0,5.0,4.0,0.0,1.0,7.0,9.0,2.0,1.0,2.0,3.0,68.0,0.0,23.0,45.0
5504,2022,34,9,1635,2,4,0.0,0.0,1.0,0,9.0,15.0,2.0,1.0,2.0,4.0,11.0,0.0,0.0,5.0,0.0,31.0,3.0,58.0,-27.0
5505,2022,34,175,16,1,1,1.0,0.0,0.0,0,9.0,7.0,2.0,1.0,2.0,6.0,9.0,1.0,2.0,2.0,1.0,35.0,1.0,59.0,-24.0
5506,2022,34,134,80,0,1,0.0,0.0,1.0,0,4.0,8.0,0.0,1.0,4.0,7.0,7.0,2.0,1.0,2.0,0.0,36.0,3.0,57.0,-21.0
5507,2022,34,54,131,2,1,0.0,1.0,0.0,0,7.0,10.0,2.0,1.0,2.0,11.0,6.0,3.0,0.0,2.0,3.0,26.0,0.0,65.0,-39.0

In [63]:
df_all["scored_5"] = df_all.groupby(["season", "team"])["scored"].transform(lambda x: x.rolling(5).sum().shift())
df_all["conceded_5"] = df_all.groupby(["season", "team"])["conceded"].transform(lambda x: x.rolling(5).sum().shift())
df_all["win_5"] = df_all.groupby(["season", "team"])["win"].transform(lambda x: x.rolling(5).sum().shift())
df_all["draw_5"] = df_all.groupby(["season", "team"])["draw"].transform(lambda x: x.rolling(5).sum().shift())
df_all["loss_5"] = df_all.groupby(["season", "team"])["loss"].transform(lambda x: x.rolling(5).sum().shift())
df_all["game_pts"] = df_all["win"] * 3 + df_all["draw"]
df_all["pts"] = df_all.groupby(["season", "team"])["game_pts"].cumsum().sub(df_all["game_pts"])

df_all["opp_scored_5"] = df_all.groupby(["season", "opponent"])["scored"].transform(lambda x: x.rolling(5).sum().shift())
df_all["opp_conceded_5"] = df_all.groupby(["season", "opponent"])["conceded"].transform(lambda x: x.rolling(5).sum().shift())
df_all["opp_win_5"] = df_all.groupby(["season", "opponent"])["win"].transform(lambda x: x.rolling(5).sum().shift())
df_all["opp_draw_5"] = df_all.groupby(["season", "opponent"])["draw"].transform(lambda x: x.rolling(5).sum().shift())
df_all["opp_loss_5"] = df_all.groupby(["season", "opponent"])["loss"].transform(lambda x: x.rolling(5).sum().shift())
df_all["opp_game_pts"] = df_all["loss"] * 3 + df_all["draw"]
df_all["opp_pts"] = df_all.groupby(["season", "team"])["opp_game_pts"].cumsum().sub(df_all["opp_game_pts"])
df_all["pts_diff"] = df_all["pts"] - df_all["opp_pts"]

df_all

,season,matchday,team,opponent,scored,conceded,draw,win,loss,home,scored_5,conceded_5,win_5,draw_5,loss_5,opp_scored_5,opp_conceded_5,opp_win_5,opp_draw_5,opp_loss_5,game_pts,pts,opp_game_pts,opp_pts,pts_diff,result
0,2005,1,40,87,3,0,0.0,1.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,0.0,0.0,0.0,Home
1,2005,1,65,81,1,0,0.0,1.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,0.0,0.0,0.0,Home
2,2005,1,107,16,1,1,1.0,0.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,0.0,Draw
3,2005,1,100,79,3,0,0.0,1.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,0.0,0.0,0.0,Home
4,2005,1,131,7,2,2,1.0,0.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,0.0,Draw
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5503,2022,34,40,65,2,1,0.0,1.0,0.0,0,12.0,7.0,3.0,0.0,2.0,6.0,11.0,1.0,1.0,3.0,3.0,68.0,0.0,23.0,45.0,Home
5504,2022,34,9,1635,2,4,0.0,0.0,1.0,0,7.0,15.0,2.0,1.0,2.0,4.0,7.0,1.0,0.0,4.0,0.0,31.0,3.0,58.0,-27.0,Loss
5505,2022,34,175,16,1,1,1.0,0.0,0.0,0,9.0,9.0,2.0,0.0,3.0,6.0,9.0,1.0,2.0,2.0,1.0,35.0,1.0,59.0,-24.0,Draw
5506,2022,34,134,80,0,1,0.0,0.0,1.0,0,8.0,9.0,1.0,1.0,3.0,7.0,7.0,2.0,1.0,2.0,0.0,36.0,3.0,57.0,-21.0,Loss
5507,2022,34,54,131,2,1,0.0,1.0,0.0,0,7.0,13.0,1.0,1.0,3.0,10.0,10.0,2.0,0.0,3.0,3.0,26.0,0.0,65.0,-39.0,Home

In [69]:
results = []
for i, row in df_all.iterrows():
    if row["draw"] == 1:
        results.append("Draw")
    elif row["win"] == 1:
        results.append("Win")
    else:
        results.append("Loss")
df_all["result"] = results

df_all

,season,matchday,team,opponent,scored,conceded,draw,win,loss,home,scored_5,conceded_5,win_5,draw_5,loss_5,opp_scored_5,opp_conceded_5,opp_win_5,opp_draw_5,opp_loss_5,game_pts,pts,opp_game_pts,opp_pts,pts_diff,result
0,2005,1,40,87,3,0,0.0,1.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,0.0,0.0,0.0,Win
1,2005,1,65,81,1,0,0.0,1.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,0.0,0.0,0.0,Win
2,2005,1,107,16,1,1,1.0,0.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,0.0,Draw
3,2005,1,100,79,3,0,0.0,1.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,0.0,0.0,0.0,0.0,Win
4,2005,1,131,7,2,2,1.0,0.0,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,0.0,0.0,Draw
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5503,2022,34,40,65,2,1,0.0,1.0,0.0,0,12.0,7.0,3.0,0.0,2.0,6.0,11.0,1.0,1.0,3.0,3.0,68.0,0.0,23.0,45.0,Win
5504,2022,34,9,1635,2,4,0.0,0.0,1.0,0,7.0,15.0,2.0,1.0,2.0,4.0,7.0,1.0,0.0,4.0,0.0,31.0,3.0,58.0,-27.0,Loss
5505,2022,34,175,16,1,1,1.0,0.0,0.0,0,9.0,9.0,2.0,0.0,3.0,6.0,9.0,1.0,2.0,2.0,1.0,35.0,1.0,59.0,-24.0,Draw
5506,2022,34,134,80,0,1,0.0,0.0,1.0,0,8.0,9.0,1.0,1.0,3.0,7.0,7.0,2.0,1.0,2.0,0.0,36.0,3.0,57.0,-21.0,Loss
5507,2022,34,54,131,2,1,0.0,1.0,0.0,0,7.0,13.0,1.0,1.0,3.0,10.0,10.0,2.0,0.0,3.0,3.0,26.0,0.0,65.0,-39.0,Win

In [70]:
df = df_all[df_all["home"] == "1"].dropna().reset_index(drop = True).drop([
    "matchday", "team", "opponent", "scored", "conceded", "draw", "win", "loss", 
    "home", "game_pts", "pts", "opp_game_pts", "opp_pts"
], axis = 1)
df.loc[:, df.columns != "result"] = df.loc[:, df.columns != "result"].astype(int)

df

,season,scored_5,conceded_5,win_5,draw_5,loss_5,opp_scored_5,opp_conceded_5,opp_win_5,opp_draw_5,opp_loss_5,pts_diff,result
0,2005,5,8,1,2,2,6,16,0,1,4,-3,Win
1,2005,8,9,1,2,2,8,5,2,2,1,-3,Win
2,2005,3,9,1,1,3,3,14,0,0,5,-6,Loss
3,2005,6,5,1,3,1,8,6,1,3,1,0,Loss
4,2005,11,10,2,1,2,8,9,2,0,3,0,Win
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4693,2022,11,6,3,1,1,7,12,2,0,3,-3,Loss
4694,2022,7,4,4,0,1,15,7,2,1,2,33,Win
4695,2022,9,6,2,2,1,9,9,3,0,2,-24,Draw
4696,2022,7,7,2,1,2,9,8,3,1,1,27,Win
4697,2022,10,10,3,0,2,13,7,3,1,1,9,Loss

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4698 entries, 0 to 4697
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   season          4698 non-null   int64
 1   matchday        4698 non-null   int64
 2   scored_5        4698 non-null   int64
 3   conceded_5      4698 non-null   int64
 4   win_5           4698 non-null   int64
 5   draw_5          4698 non-null   int64
 6   loss_5          4698 non-null   int64
 7   opp_scored_5    4698 non-null   int64
 8   opp_conceded_5  4698 non-null   int64
 9   opp_win_5       4698 non-null   int64
 10  opp_draw_5      4698 non-null   int64
 11  opp_loss_5      4698 non-null   int64
 12  pts_diff        4698 non-null   int64
 13  result          4698 non-null   object
dtypes: int64(13), object(1)
memory usage: 514.0+ KB

In [67]:
df.describe()

,season,matchday,scored_5,conceded_5,win_5,draw_5,loss_5,opp_scored_5,opp_conceded_5,opp_win_5,opp_draw_5,opp_loss_5,pts_diff
count,4698.00000,4698.000000,4698.000000,4698.000000,4698.000000,4698.000000,4698.000000,4698.000000,4698.000000,4698.000000,4698.000000,4698.000000,4698.000000
mean,2013.50000,20.000000,5.985951,6.200085,1.714985,1.471052,1.813963,5.998936,6.213069,1.718178,1.464666,1.817156,-0.272669
std,5.18868,8.367491,3.465548,3.327101,1.166687,1.068902,1.147927,3.273398,3.586271,1.141926,1.073480,1.196647,16.771135
min,2005.00000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-63.000000
25%,2009.00000,13.000000,3.000000,4.000000,1.000000,1.000000,1.000000,3.000000,4.000000,1.000000,1.000000,1.000000,-12.000000
50%,2013.50000,20.000000,6.000000,6.000000,2.000000,1.000000,2.000000,6.000000,6.000000,2.000000,1.000000,2.000000,0.000000
75%,2018.00000,27.000000,8.000000,8.000000,2.000000,2.000000,3.000000,8.000000,8.000000,2.000000,2.000000,3.000000,9.000000
max,2022.00000,34.000000,25.000000,22.000000,5.000000,5.000000,5.000000,19.000000,23.000000,5.000000,5.000000,5.000000,78.000000

# Modeling

## Logistic Regression Implementation

In [168]:
# from last time, our logistic regression algorithm is given by (including everything we previously had):
class BinaryLogisticRegression:
    def __init__(self, eta, iterations=20, regularization = "none", mixture = None, C=0.001):
        self.eta = eta
        self.iters = iterations
        self.C = C
        self.reg = regularization
        self.mix = mixture
        # internally we will store the weights as self.w_ to keep with sklearn conventions
        
    def __str__(self):
        if(hasattr(self,'w_')):
            return 'Binary Logistic Regression Object with coefficients:\n'+ str(self.w_) # is we have trained the object
        else:
            return 'Untrained Binary Logistic Regression Object'
        
    # convenience, private:
    @staticmethod
    def _add_bias(X):
        return np.hstack((np.ones((X.shape[0],1)),X)) # add bias term
    
    @staticmethod
    def _sigmoid(theta):
        # increase stability, redefine sigmoid operation
        return expit(theta) #1/(1+np.exp(-theta))
    
    # vectorized gradient calculation
    def _get_gradient(self,X,y):
        ydiff = y-self.predict_proba(X,add_bias=False).ravel() # get y difference
        gradient = np.mean(X * ydiff[:,np.newaxis], axis=0) # make ydiff a column vector and multiply through
        
        gradient = gradient.reshape(self.w_.shape)
        
        return gradient
    
    # Calculate the ridge term
    def _get_ridge(self):
        return -2 * self.w_[1:] * self.C
    
    # Calculate the lasso term
    # https://medium.com/analytics-vidhya/math-behind-linear-ridge-and-lasso-regression-b9de216ebdf8
    def _get_lasso(self, gradient):
        for i in range(len(gradient)):
            if gradient[i] < (-self.C / 2):
                gradient[i] += (self.C / 2)
            elif gradient[i] > (self.C / 2):
                gradient[i] -= (self.C / 2)
            else:
                gradient[i] = 0
                self.w_[i] = 0
        return gradient
    
    # public:
    def predict_proba(self,X,add_bias=True):
        # add bias term if requested
        Xb = self._add_bias(X) if add_bias else X
        return self._sigmoid(Xb @ self.w_) # return the probability y=1
    
    def predict(self,X):
        return (self.predict_proba(X)>0.5) #return the actual prediction
       
    def fit(self, X, y):
        Xb = self._add_bias(X) # add bias term
        num_samples, num_features = Xb.shape
        
        self.w_ = np.zeros((num_features,1)) # init weight vector to zeros
        
        # for as many as the max iterations
        for _ in range(self.iters):
            gradient = self._get_gradient(Xb,y)
            
            # Add penalty term
            if self.reg == "ridge":
                gradient[1:] += self._get_ridge()
            elif self.reg == "lasso":
                gradient[1:] = self._get_lasso(gradient[1:])
            elif self.reg == "both":
                gradient[1:] += (1 - self.mix) * self._get_ridge()
                gradient[1:] = self.mix * self._get_lasso(gradient[1:])
            
            self.w_ += gradient*self.eta # multiply by learning rate 
            # add bacause maximizing

In [169]:
class StochasticLogisticRegression(BinaryLogisticRegression):
    # stochastic gradient calculation 
    def _get_gradient(self,X: np.array,y: np.array) -> np.array:
        idx = int(np.random.rand()*len(y)) # grab random instance
        ydiff = y[idx]-self.predict_proba(X[idx],add_bias=False) # get y difference (now scalar)
        gradient = X[idx] * ydiff[:,np.newaxis] # make ydiff a column vector and multiply through
        
        gradient = gradient.reshape(self.w_.shape)
        
        return gradient

In [170]:
class HessianLogisticRegression(BinaryLogisticRegression):
    # just overwrite gradient function
    def _get_gradient(self,X,y):
        g = self.predict_proba(X,add_bias=False).ravel() # get sigmoid value for all classes
        hessian = X.T @ np.diag(g*(1-g)) @ X - 2 * self.C # calculate the hessian

        ydiff = y-g # get y difference
        gradient = np.sum(X * ydiff[:,np.newaxis], axis=0) # make ydiff a column vector and multiply through
        gradient = gradient.reshape(self.w_.shape)
        
        return pinv(hessian) @ gradient

In [260]:
class MyLogisticRegression:
    def __init__(self, eta, iterations=20, optimization="steepest", regularization="none", mixture=0.5, C=0.001):
        assert optimization in ["steepest", "stochastic", "newton"], "Invalid optimization input"
        assert regularization in ["none", "ridge", "lasso", "both"], "Invalid regularization input"
        assert mixture >= 0 and mixture <= 1, "Invalid mixture"
        
        self.eta = eta
        self.iters = iterations
        self.opt = optimization
        self.reg = regularization
        self.mix = mixture
        self.C = C
        
    def __str__(self):
        if(hasattr(self,'w_')):
            # is we have trained the object
            return 'Multiclass Logistic Regression Object with {} optimization and {} regularization and coefficients:\n'.format(self.opt, self.reg) + str(self.w_) 
        else:
            return 'Untrained Multiclass Logistic Regression Object with {} optimization and {} regularization'.format(self.opt, self.reg)
     
    def fit(self,X,y):
        num_samples, num_features = X.shape
        self.unique_ = np.unique(y) # get each unique class value
        num_unique_classes = len(self.unique_)
        self.classifiers_ = [] # will fill this array with binary classifiers
        # Parameters to pass into binary classifier
        params = {
            "eta": self.eta,
            "iterations": self.iters,
            "regularization": self.reg,
            "mixture": self.mix,
            "C": self.C
        }
        
        for i,yval in enumerate(self.unique_): # for each unique value
            y_binary = (y==yval) # create a binary problem
            # train the binary classifier for this class
            if self.opt == "steepest":
                blr = BinaryLogisticRegression(**params)
            elif self.opt == "stochastic":
                blr = StochasticLogisticRegression(**params)
            else:
                blr = HessianLogisticRegression(**params)
            blr.fit(X,y_binary)
            # add the trained classifier to the list
            self.classifiers_.append(blr)
            
        # save all the weights into one matrix, separate column for each class
        self.w_ = np.hstack([x.w_ for x in self.classifiers_]).T
        
    def predict_proba(self,X):
        probs = []
        for blr in self.classifiers_:
            probs.append(blr.predict_proba(X)) # get probability for each classifier
        
        return np.hstack(probs) # make into single matrix
    
    def predict(self,X):
        return self.unique_[np.argmax(self.predict_proba(X),axis=1)] # take argmax along row
    
    # Create a hyperparameter grid for optimization, regularization, mixture, and C
    def create_grid(
        self, combinations=100, seed = None, 
        optimization = None, regularization = None, mixture = None, C = None
    ):
        # Set random seed if defined
        if seed != None:
            random.seed(seed)
        
        # Create data frame for grid
        grid = pd.DataFrame()
        
        # Create ranges of values
        opt = ["steepest", "stochastic", "newton"]
        reg = ["none", "ridge", "lasso", "both"]
        mix = np.linspace(0, 1, 1000)
        pen = np.linspace(1, 100, 100)
        
        # Randomly sample values
        if optimization == None:
            grid["optimization"] = random.choices(opt, k = combinations)
        else:
            grid["optimization"] = optimization
            
        if regularization == None:
            grid["regularization"] = random.choices(reg, k = combinations)
        else:
            grid["regularization"] = regularization
            
        if mixture == None:
            grid["mixture"] = random.choices(mix, k = combinations)
        else:
            grid["mixture"] = mixture
            
        if C == None:
            grid["penalty"] = random.choices(pen, k = combinations)
        else:
            grid["penalty"] = C
            
        # Store grid and return
        self.grid_ = grid
        return grid
    
    # Tune a grid of hyperparameters
    def tune(self, X, y, grid = None):
        # If grid is provided, overwrite self.grid_
        if grid != None:
            self.grid_ = grid
        # List to store accuracy of each combination
        acc = []
        # Iterate through each combination in the grid
        for row in self.grid_.itertuples():
            # Extract hyperparameters
            params = {
                "eta": self.eta,
                "iterations": self.iters,
                "optimization": row.optimization,
                "regularization": row.regularization,
                "mixture": row.mixture,
                "C": row.penalty
            }
            
            # Fit model with these hyperparameters and calculate the accuracy
            model = MyLogisticRegression(**params)
            model.fit(X, y)
            yhat = model.predict(X)
            acc.append(accuracy_score(y, yhat))
            
        # Add accuracy column to grid
        self.grid_["accuracy"] = acc
        # Sort grid by accuracy
        self.grid_ = self.grid_.sort_values("accuracy", ascending = False)
        # Store best combination
        self.hyperparams_ = self.grid_.to_dict("records")[0]
        # Return grid
        return self.grid_
    
    # Set specified hyperparameters after tuning (or manually)
    def set_hyperparameters(self, params = None):
        # If params provided, overwrite self.hyperparams_
        if params != None:
            self.hyperparams_ = params
        
        # Set parameters with defined hyperparameters
        if self.hyperparams_["optimization"] != None:
            self.opt = self.hyperparams_["optimization"]
        
        if self.hyperparams_["regularization"] != None:
            self.reg = self.hyperparams_["regularization"]
            
        if self.hyperparams_["mixture"] != None:
            self.mix = self.hyperparams_["mixture"]
            
        if self.hyperparams_["penalty"] != None:
            self.C = self.hyperparams_["penalty"]

## Model Fitting

In [282]:
X = df.loc[:, df.columns != "result"]
y = df["result"]

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.8, test_size = 0.2, random_state = 7324)

In [283]:
my_model = MyLogisticRegression(0.1)
print(my_model)

Untrained Multiclass Logistic Regression Object with steepest optimization and none regularization

In [284]:
grid_init = my_model.create_grid(500, seed = 7324)
grid_init

    optimization regularization   mixture  penalty
0         newton           both  0.307307     17.0
1     stochastic          ridge  0.743744     53.0
2         newton           none  0.187187     78.0
3       steepest           both  0.228228      8.0
4         newton           both  0.296296     42.0
..           ...            ...       ...      ...
495   stochastic           none  0.827828     26.0
496     steepest           both  0.223223     74.0
497   stochastic           none  0.940941     82.0
498       newton          lasso  0.216216     13.0
499   stochastic          ridge  0.448448     64.0

[500 rows x 4 columns]

In [285]:
%%time

grid_acc = my_model.tune(X_train, y_train)
grid_acc

/var/folders/24/0bddfjxx3258qzvf6pn5md3c0000gn/T/ipykernel_83395/3338023884.py:8: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  gradient = np.sum(X * ydiff[:,np.newaxis], axis=0) # make ydiff a column vector and multiply through

KeyError: 1162

In [277]:
df

,season,scored_5,conceded_5,win_5,draw_5,loss_5,opp_scored_5,opp_conceded_5,opp_win_5,opp_draw_5,opp_loss_5,pts_diff,result
0,2005,5,8,1,2,2,6,16,0,1,4,-3,Win
1,2005,8,9,1,2,2,8,5,2,2,1,-3,Win
2,2005,3,9,1,1,3,3,14,0,0,5,-6,Loss
3,2005,6,5,1,3,1,8,6,1,3,1,0,Loss
4,2005,11,10,2,1,2,8,9,2,0,3,0,Win
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4693,2022,11,6,3,1,1,7,12,2,0,3,-3,Loss
4694,2022,7,4,4,0,1,15,7,2,1,2,33,Win
4695,2022,9,6,2,2,1,9,9,3,0,2,-24,Draw
4696,2022,7,7,2,1,2,9,8,3,1,1,27,Win
4697,2022,10,10,3,0,2,13,7,3,1,1,9,Loss

In [286]:
X_train

,season,scored_5,conceded_5,win_5,draw_5,loss_5,opp_scored_5,opp_conceded_5,opp_win_5,opp_draw_5,opp_loss_5,pts_diff
3298,2017,3,4,2,1,2,2,6,1,0,4,-3
1432,2010,7,1,4,0,1,8,7,1,4,0,-3
2228,2013,3,9,1,1,3,15,3,5,0,0,-33
1448,2010,6,7,3,0,2,11,9,2,2,1,3
308,2006,4,12,0,2,3,4,5,1,1,3,-9
...,...,...,...,...,...,...,...,...,...,...,...,...
2773,2015,1,4,0,2,3,2,2,1,3,1,-39
3263,2017,1,2,0,4,1,3,2,3,0,2,-3
4512,2022,7,11,2,0,3,10,8,3,1,1,-12
3969,2020,8,9,0,4,1,9,11,1,3,1,0
4391,2021,12,3,3,2,0,7,5,2,1,2,18

In [288]:
y_train

3298     Win
1432    Loss
2228     Win
1448    Loss
308     Loss
        ...
2773    Loss
3263    Loss
4512     Win
3969    Draw
4391     Win
Name: result, Length: 3758, dtype: object